@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Patua+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Sofia&display=swap");
@import "tailwindcss";

* {
  font-family: inter !important;
}

body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.95) 8%, rgba(224, 222, 247, 0.3) 22%, rgba(255, 255, 255, 1) 100%);
  backdrop-filter: blur(45px);
}